{
    "c": "civil",
    "cd": "civil demolition",
    "cg": "civil grading",
    "ci": "civil improvements",
    "cj": "user defined",
    "ck": "user defined",
    "cn": "civil nodes",
    "cp": "civil paving",
    "cs": "civil site",
    "ct": "civil transportation",
    "cu": "civil utilities",
    "c□-afld": "airfields",
    "c□-afld-asph": "airfields: asphalt",
    "c□-afld-cntr": "airfields: center",
    "c□-afld-conc": "airfields: concrete",
    "c□-afld-flne": "airfields: fire lane",
    "c□-afld-flne-mrkg": "airfields: fire lane: pavement markings",
    "c□-afld-flne-sign": "airfields: fire lane: signage",
    "c□-afld-grvl": "airfields: gravel",
    "c□-afld-mrkg": "airfields: pavement markings",
    "c□-afld-sign": "airfields: signage",
    "c□-afld-stan": "airfields: stationing",
    "c□-afld-whit": "airfields: white paint",
    "c□-afld-whit-tick": "airfields: white paint: tick marks",
    "c□-afld-yelo": "airfields: yellow paint",
    "c□-afld-yelo-tick": "airfields: yellow paint: tick marks",
    "c□-bldg": "buildings and primary structures",
    "c□-bldg-deck": "buildings and primary structures: deck (attached, no roof overhead)",
    "c□-bldg-otln": "buildings and primary structures: outline",
    "c□-bldg-ovhd": "buildings and primary structures: overhead",
    "c□-bldg-prch": "buildings and primary structures: porch (attached, roof overhead)",
    "c□-blin": "baseline",
    "c□-blin-stan": "baseline: stationing",
    "c□-bore": "borings",
    "c□-brdg": "bridge",
    "c□-brdg-cntj": "bridge: construction joint",
    "c□-brdg-cntr": "bridge: center",
    "c□-brdg-deck": "bridge: deck",
    "c□-brdg-expj": "bridge: expansion joint",
    "c□-brdg-falt": "bridge: fault/break line",
    "c□-brdg-hidd": "bridge: objects or lines hidden from view",
    "c□-brdg-objt": "bridge: objects",
    "c□-brdg-objt-prim": "bridge: objects: primary",
    "c□-brdg-objt-secd": "bridge: objects: secondary",
    "c□-brdg-rbar": "bridge: reinforcing bar",
    "c□-catv": "cable television system",
    "c□-catv-ovhd": "cable television system: overhead",
    "c□-catv-pole": "cable television system: pole",
    "c□-catv-ugnd": "cable television system: underground",
    "c□-ceme": "cemetery",
    "c□-chan": "navigable channels",
    "c□-chan-bwtr": "navigable channels: breakwater",
    "c□-chan-cntr": "navigable channels: center",
    "c□-chan-dacl": "navigable channels: deauthorized channel limits, anchorages, etc.",
    "c□-chan-dock": "navigable channels: decks, docks, floats, piers",
    "c□-chan-naid": "navigable channels: navigation aids",
    "c□-comm": "communications",
    "c□-comm-ovhd": "communications: overhead",
    "c□-comm-pole": "communications: pole",
    "c□-comm-ugnd": "communications: underground",
    "c□-ctr": "l-bmrkcontrol points: benchmarks",
    "c□-ctrl": "control points",
    "c□-ctrl-flys": "control points: fly station",
    "c□-ctrl-grid": "control points: grid",
    "c□-ctrl-horz": "control points: horizontal",
    "c□-ctrl-hvpt": "control points: horizontal/vertical",
    "c□-ctrl-pnpt": "control points: panel points",
    "c□-ctrl-trav": "control points: transverse",
    "c□-ctrl-vert": "control points: vertical",
    "c□-dfld": "drain fields",
    "c□-dfld-otln": "drain fields: outline",
    "c□-dfld-prof": "drain fields: profile",
    "c□-dri": "v-upvddriveways: unpaved surface",
    "c□-driv": "driveways",
    "c□-driv-asph": "driveways: asphalt",
    "c□-driv-cntr": "driveways: center",
    "c□-driv-conc": "driveways: concrete",
    "c□-driv-curb": "driveways: curb",
    "c□-driv-curb-back": "driveways: curb: back",
    "c□-driv-curb-face": "driveways: curb: face",
    "c□-driv-flne": "driveways: fire lane",
    "c□-driv-flne-mrkg": "driveways: fire lane: pavement markings",
    "c□-driv-flne-sign": "driveways: fire lane: signage",
    "c□-driv-grvl": "driveways: gravel",
    "c□-driv-mrkg": "driveways: pavement markings",
    "c□-driv-sign": "driveways: signage",
    "c□-driv-whit": "driveways: white paint",
    "c□-driv-whit-tick": "driveways: white paint: tick marks",
    "c□-driv-yelo": "driveways: yellow paint",
    "c□-driv-yelo-tick": "driveways: yellow paint: tick marks",
    "c□-dtch": "ditches or washes",
    "c□-dtch-botm": "ditches or washes: bottom",
    "c□-dtch-cntr": "ditches or washes: center",
    "c□-dtch-ewat": "ditches or washes: edge of water",
    "c□-dtch-top~": "ditches or washes: top",
    "c□-eros": "erosion and sediment control",
    "c□-eros-cipr": "erosion and sediment control: culvert inlet protection",
    "c□-eros-cnte": "erosion and sediment control: construction entrance",
    "c□-eros-ddiv": "erosion and sediment control: drainage divides",
    "c□-eros-dvdk": "erosion and sediment control: diversion dike",
    "c□-eros-inpr": "erosion and sediment control: inlet protection",
    "c□-eros-silt": "erosion and sediment control: silt fence",
    "c□-eros-sslt": "erosion and sediment control: super silt fence",
    "c□-esmt": "easements",
    "c□-esmt-accs": "easements: access (pedestrian only; private access)",
    "c□-esmt-catv": "easements: utility -cable television system",
    "c□-esmt-cons": "easements: conservation",
    "c□-esmt-cstg": "easements: construction/grading",
    "c□-esmt-elec": "easements: electrical",
    "c□-esmt-fdpl": "easements: flood plain",
    "c□-esmt-ineg": "easements: ingress/egress (vehicles; private access)",
    "c□-esmt-lscp": "easements: landscape",
    "c□-esmt-ngas": "easements: natural gas line",
    "c□-esmt-phon": "easements: telephone line",
    "c□-esmt-road": "easements: roadway",
    "c□-esmt-road-perm": "easements: roadway: permanent",
    "c□-esmt-road-temp": "easements: roadway: temporary",
    "c□-esmt-rway": "easements: right-of-way (public access)",
    "c□-esmt-sght": "easements: sight distance",
    "c□-esmt-sswr": "easements: sanitary sewer",
    "c□-esmt-strm": "easements: storm sewer",
    "c□-esmt-swmt": "easements: storm water management",
    "c□-esmt-tral": "easements: trail or path (public access)",
    "c□-esmt-util": "easements: utility lines",
    "c□-esmt-watr": "easements: water supply",
    "c□-fenc": "fences",
    "c□-fenc-gral": "fences: guard rail",
    "c□-fenc-post": "fences: posts",
    "c□-fenc-stel": "fences: steel (barbed wire and/or chain link)",
    "c□-fenc-wood": "fences: wood",
    "c□-fire": "fire protection",
    "c□-fire-hydt": "fire protection: hydrants and connections",
    "c□-fire-pipe": "fire protection: piping",
    "c□-fire-ugnd": "fire protection: underground",
    "c□-flha": "flood hazard area",
    "c□-flha-025y": "flood hazard area: 25 year mark",
    "c□-flha-050y": "flood hazard area: 50 year mark",
    "c□-flha-100y": "flood hazard area: 100 year mark",
    "c□-flha-200y": "flood hazard area: 200 year mark",
    "c□-fuel": "fuel systems",
    "c□-fuel-eqpm": "fuel systems: equipment (pumps, motors)",
    "c□-fuel-inst": "fuel systems: instrumentation (meters, valves, etc.)",
    "c□-fuel-mhol": "fuel systems: manhole",
    "c□-fuel-pipe": "fuel systems: piping",
    "c□-fuel-tank": "fuel systems: storage tanks",
    "c□-fuel-ugnd": "fuel systems: underground",
    "c□-hydr": "hydraulic structure",
    "c□-hydr-bafl": "hydraulic structure: baffle block and splash pad",
    "c□-hydr-basn": "hydraulic structure: stilling and settling basins",
    "c□-hydr-cndt": "hydraulic structure: diversion/bypass conduits/culvers",
    "c□-hydr-coff": "hydraulic structure: coffer dam",
    "c□-hydr-dam~": "hydraulic structure: dam",
    "c□-hydr-fish": "hydraulic structure: fish ladder/passage",
    "c□-hydr-flum": "hydraulic structure: flume",
    "c□-hydr-intk": "hydraulic structure: intake",
    "c□-hydr-novr": "hydraulic structure: non-overflow structure",
    "c□-hydr-pens": "hydraulic structure: penstock",
    "c□-locn": "limits of construction",
    "c□-ngas": "natural gas systems",
    "c□-ngas-eqpm": "natural gas systems: equipment (pumps, motors)",
    "c□-ngas-inst": "natural gas systems: instrumentation (meters, valves, etc.)",
    "c□-ngas-mhol": "natural gas systems: manhole",
    "c□-ngas-pipe": "natural gas systems: piping",
    "c□-ngas-tank": "natural gas systems: storage tanks",
    "c□-ngas-ugnd": "natural gas systems: underground",
    "c□-perc": "perc testing",
    "c□-perc-hole": "perc testing: holes",
    "c□-pond": "ponds",
    "c□-pond-edge": "ponds: edge",
    "c□-pond-sway": "ponds: spillway",
    "c□-pond-topb": "ponds: top of bank",
    "c□-powr": "power",
    "c□-powr-fenc": "power: fences",
    "c□-powr-inst": "power: instrumentation (meters, transformers)",
    "c□-powr-mhol": "power: manhole",
    "c□-powr-ovhd": "power: overhead",
    "c□-powr-pole": "power: pole",
    "c□-powr-strc": "power: structures",
    "c□-powr-ugnd": "power: underground",
    "c□-prkg": "parking lots",
    "c□-prkg-asph": "parking lots: asphalt",
    "c□-prkg-cars": "parking lots: cars and other vehicles",
    "c□-prkg-conc": "parking lots: concrete",
    "c□-prkg-curb": "parking lots: curb",
    "c□-prkg-curb-back": "parking lots: curb: back",
    "c□-prkg-curb-face": "parking lots: curb: face",
    "c□-prkg-dran": "parking lots: drainage slope indications",
    "c□-prkg-fixt": "parking lots: fixtures (wheel stops, parking meters, etc.)",
    "c□-prkg-flne": "parking lots: fire lane",
    "c□-prkg-flne-mrkg": "parking lots: fire lane: pavement markings",
    "c□-prkg-flne-sign": "parking lots: fire lane: signage",
    "c□-prkg-grvl": "parking lots: gravel",
    "c□-prkg-mrkg": "parking lots: pavement markings",
    "c□-prkg-sign": "parking lots: signage",
    "c□-prkg-strp": "parking lots: striping",
    "c□-prkg-upvd": "parking lots: unpaved surface",
    "c□-prkg-whit": "parking lots: white paint",
    "c□-prkg-whit-tick": "parking lots: white paint: tick marks",
    "c□-prkg-yelo": "parking lots: yellow paint",
    "c□-prkg-yelo-tick": "parking lots: yellow paint: tick marks",
    "c□-prop": "property",
    "c□-prop-line": "property: lines",
    "c□-prop-sbck": "property: setback lines",
    "c□-pvmt": "pavement",
    "c□-pvmt-asph": "pavement: asphalt",
    "c□-pvmt-conc": "pavement: concrete",
    "c□-pvmt-grvl": "pavement: gravel",
    "c□-rail": "railroad",
    "c□-rail-cntr": "railroad: center",
    "c□-rail-eqpm": "railroad: equipment (gates, signals, etc.)",
    "c□-rail-trak": "railroad: track",
    "c□-rivr": "river",
    "c□-rivr-botm": "river: bottom",
    "c□-rivr-cntr": "river: center",
    "c□-rivr-edge": "river: edge",
    "c□-rivr-topb": "river: top of bank",
    "c□-road": "roadways",
    "c□-road-asph": "roadways: asphalt",
    "c□-road-cntr": "roadways: center",
    "c□-road-conc": "roadways: concrete",
    "c□-road-curb": "roadways: curb",
    "c□-road-curb-back": "roadways: curb: back",
    "c□-road-curb-face": "roadways: curb: face",
    "c□-road-flne": "roadways: fire lane",
    "c□-road-flne-mrkg": "roadways: fire lane: pavement markings",
    "c□-road-flne-sign": "roadways: fire lane: signage",
    "c□-road-grvl": "roadways: gravel",
    "c□-road-mrkg": "roadways: pavement markings",
    "c□-road-prof": "roadways: profile",
    "c□-road-sign": "roadways: signage",
    "c□-road-stan": "roadways: stationing",
    "c□-road-upvd": "roadways: unpaved surface",
    "c□-road-whit": "roadways: white paint",
    "c□-road-whit-tick": "roadways: white paint: tick marks",
    "c□-road-yelo": "roadways: yellow paint",
    "c□-road-yelo-tick": "roadways: yellow paint: tick marks",
    "c□-rrap": "riprap",
    "c□-sght": "sight distance",
    "c□-sght-prof": "sight distance: profile",
    "c□-soil": "soils",
    "c□-sswr": "sanitary sewer",
    "c□-sswr-diag": "sanitary sewer: diagrams",
    "c□-sswr-forc": "sanitary sewer: force main",
    "c□-sswr-latl": "sanitary sewer: lateral line",
    "c□-sswr-mhol": "sanitary sewer: manhole",
    "c□-sswr-pipe": "sanitary sewer: piping",
    "c□-sswr-pipe-rcon": "sanitary sewer: piping: reinforced concrete",
    "c□-sswr-pipe-stel": "sanitary sewer: piping: steel",
    "c□-sswr-prof": "sanitary sewer: profile",
    "c□-sswr-stan": "sanitary sewer: stationing",
    "c□-sswr-strc": "sanitary sewer:structures",
    "c□-sswr-ugnd": "sanitary sewer: underground",
    "c□-stem": "steam system",
    "c□-stem-inst": "steam system: instrumentation (meters, valves, etc.)",
    "c□-stem-mhol": "steam system: manhole",
    "c□-stem-pipe": "steam system: piping",
    "c□-stem-strc": "steam system: structures",
    "c□-stem-ugnd": "steam system: underground",
    "c□-strm": "storm sewer",
    "c□-strm-cntr": "storm sewer: center",
    "c□-strm-diag": "storm sewer: diagrams",
    "c□-strm-hwal": "storm sewer: headwall",
    "c□-strm-mhol": "storm sewer: manhole",
    "c□-strm-pipe": "storm sewer: piping",
    "c□-strm-pipe-cmtl": "storm sewer: piping: corrugated metal",
    "c□-strm-pipe-rcon": "storm sewer: piping: reinforced concrete",
    "c□-strm-prof": "storm sewer: profile",
    "c□-strm-stan": "storm sewer: stationing",
    "c□-strm-strc": "storm sewer: structures",
    "c□-strm-ugnd": "storm sewer: underground",
    "c□-swlk": "sidewalks",
    "c□-swlk-asph": "sidewalks: asphalt",
    "c□-swlk-conc": "sidewalks: concrete",
    "c□-tinn": "triangulated irregular network",
    "c□-tinn-bndy": "triangulated irregular network: boundary",
    "c□-tinn-falt": "triangulated irregular network: fault/break lines",
    "c□-tinn-view": "triangulated irregular network: triangulation view",
    "c□-tinn-void": "triangulated irregular network: void regions",
    "c□-topo": "topographic feature",
    "c□-topo-depr": "topographic feature: depression",
    "c□-topo-majr": "topographic feature: major (contours)",
    "c□-topo-minr": "topographic feature: minor (contours)",
    "c□-topo-spot": "topographic feature: spot elevations",
    "c□-topo-tpit": "topographic feature: test pits",
    "c□-tral": "trails or paths",
    "c□-tral-asph": "trails or paths: asphalt",
    "c□-tral-conc": "trails or paths: concrete",
    "c□-tral-grvl": "trails or paths: gravel",
    "c□-tral-mrkg": "trails or paths: pavement markings",
    "c□-tral-sign": "trails or paths: signage",
    "c□-tral-upvd": "trails or paths: unpaved surface",
    "c□-wall": "walls",
    "c□-wall-ctlj": "walls: control joint",
    "c□-wall-nsbr": "walls: noise barrier",
    "c□-wall-rtwl": "walls: retaining wall",
    "c□-wall-shea": "walls: structural bearing or shear walls",
    "c□-watr": "water supply",
    "c□-watr-diag": "water supply: diagrams",
    "c□-watr-inst": "water supply: instrumentation (meters, valves, etc.)",
    "c□-watr-pipe": "water supply: piping",
    "c□-watr-prof": "water supply: profile",
    "c□-watr-stan": "water supply: stationing",
    "c□-watr-strc": "water supply: structures",
    "c□-watr-ugnd": "water supply: underground",
    "c□-watr-well": "water supply: well",
    "c□-wetl": "wetlands",
    "c□-wway": "waterway",
    "c□-wway-dlph": "waterway: dolphin",
    "c□-wway-fend": "waterway: fender",
    "c□-wway-moor": "waterway: mooring",
}